DirectoryIndex index.php index.html
FileETag none

<IfModule mod_rewrite.c>
    RewriteEngine on
    
    # Allow requests for valid file or folder names, or some that should be
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond $1 ^(robots\.txt|favicon\.ico|style\.css)
    RewriteRule ^(.*)$ - [L]

    # use index.php as front controller ...
    RewriteRule ^(.*)$ ./index.php/$1 [L]
</IfModule>
    
<IfModule mod_headers.c>
    # Turn on XSS prevention tools
    Header set X-XSS-Protection "1; mode=block"

    # prevent mime based attacks
    Header set X-Content-Type-Options "nosniff"
    
    # Don't allow any pages to be framed - Defends against CSRF
    Header set X-Frame-Options DENY

    # Add Referrer Policy
    Header set Referrer-Policy "no-referrer"
    
    # Hide PHP version
    Header unset X-Powered-By
    
    # Eliminate ETags
    Header unset Etag
</IfModule>